* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 60px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px); /* Altura total menos cabeçalho e rodapé */
    padding: 20px;
}

.top-left {
    flex: 1;
    background-color: #e0e0e0;
    margin-bottom: 20px; /* Espaço entre o topo e o conteúdo */
}

.content {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
}

.bottom-left {
    flex: 1;
    background-color: #e0e0e0;
    margin-top: 20px; /* Espaço entre o conteúdo e o fundo */
}

.bottom-right {
    flex: 1;
    background-color: #e0e0e0;
    margin-top: 20px; /* Espaço entre o fundo e o rodapé */
}

footer {
    height: 60px;
    background-color: #f0f0f0;
}
