* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 60px;
    background-color: #007BFF; /* Azul */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px); /* Altura total menos cabeçalho e rodapé */
    padding: 20px;
}

.content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0; /* Margem para separar do conteúdo */
}

footer {
    height: 60px;
    background-color: #007BFF; /* Azul */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
